/* Basic*/
	
	*{		
		font-family:"Microsoft JhengHei";
	}

	.content{
		
    position: relative;
    
    width:650px;

   
    
    left: 100px;
    
    top: 100px;
    
    border-radius:10px;
 
	}


	.head{
		/*border:2px black solid;*/
		margin-left:10px;

	}
	.title{
		position: relative;
		display: inline-block;
		left:10px;
		top:10px;
		

		/*border:2px black solid;*/
		
	}
	.logoimg{
		top:8px;
		position:relative;
	}
	.tablepic{
		height:80px;
		/*border:1px solid;*/
		position: relative;
		display: inline-block;
		left:390px;
		top:5px;

	}
	
/*form*/

	#bookdate{
		text-align: right;
	}

	#PSetting{
		border-top: 2px 		#A9A9A9 solid;
		/*border-bottom: 2px 		#A9A9A9 solid;*/
		border-left: 0px;
		border-right: 0px;
		/*border:2px solid black;*/
		width:650px;
		margin:10px;
		margin-top:0px;
		

	}

	.PS-1 td{
		width: 700px;
		height: 50px;
		padding: 10px;
	}

	.PS1-1{
		font-size: 18px;
		/*border-bottom: 1px 	#DCDCDC solid;*/

	}

	.PS1-2{
		width:50px;
		border-bottom: 1px 	#DCDCDC solid;
	}

	.PS1-3{
		text-align: right;
		/*border-bottom: 1px 	#DCDCDC solid;*/
	}


	.PS1-3 input{
		border:2px solid #AAAAAA;
		height:30px;
		width:30px;
		font-size:15px;
		background-color : transparent ;
		color:#666666;
		border-radius: 15px;
		color: #AAAAAA;
		font-weight: 500;
	}

	
	
	.creatbtn{
		font-size:18px;
		width:90px;
		height:40px;
		border-radius: 10px;
		background-color:transparent;
		border:1px solid #333;
		margin:10px;
		position: relative;
		left:500px;
	}
	.creatbtn:hover{
		background-color:#41b1f4;
		color:white;
	}
  	
  	.set{
  		font-size:18px;
		width:90px;
		height:40px;
		border-radius: 10px;
		background-color:transparent;
		border:1px solid #333;
		margin:10px;
		position: relative;
		left:500px;

  	}
  	.set:hover{
		background-color:#41b1f4;
		color:white;
	}

	