	body{
		position:relative;
		margin:0px;

	}
	.mainpost{
		position:relative;
		top:30px;
		

	}
	nav {
	    text-align: center;
	}
	
	#guest {
	    height: 35px;
	    width: 40px;
	}
	
	#user {
	    height: 60px;
	    width: 80px;
	}
	
	input {
	    width: 90%;
	}
	
	button.start {
	    float: right;
	}
	
	#show1 {
	    display: none;
	    height: 200px;
	    width: 200px;
	}

	#show2 {
	    display: none;
	    height: 200px;
	    width: 200px;
	}
	
	#photo1 {
	    display: none;
	}

	#photo2 {
	    display: none;
	}

	div.dropdown {
	    float: right;
	}

	.post{
		position:relative;
		top:20px;
		border:solid 1px #eee;
		padding: 10px;
		margin: 20px;
		width:850px;
		/*border:2px black solid;*/
	}
	.btn{
		border:solid 3px white;
		background-color:#eee;
		color: black;
		margin:5px;
		border-radius: 50px;
	}
	.main2{
		position:relative;
		display: inline-block;
		border:solid 1px #eee;
		width:900px;
		color:grey;
		top:40px;
		left:20px;
		/*padding:5px;*/
	}
	
	.post-left{
		/*border:solid 3px black;*/
		width:400px;
		position:relative;
		float: left;
		height:300px;
		padding:20px;
		
	}
	.post-right{
		/*border:solid 2px black;*/
		border-left:solid 1px #eee;
		width:400px;
		position:relative;
		float: left;
		height:300px;
		padding:20px;

	}
	/*.post-right h5{
		border:solid 3px black;
	}*/
	#time{
		/*border:solid 3px black;*/
		padding:5px;
		margin:5px;
	}
	p{
		/*border:solid 2px black;*/

	}
	.btn-group2{
		
		
		bottom:0px;
		right:0px;
		/*border:solid 2px black;*/
	}

	
	
